latex-update.sh
slurm/.wiki-data.batch.swp
.gitignore
slurm/jupyter_gpu.batch
slurm/wiki-data.batch
slurm/self_training.batch
slurm/jupyter_cpu.batch
scripts/end_job.sh
src/utils/__pycache__/myutils.cpython-38.pyc
.vscode/settings.json
notebooks/media/.ipynb_checkpoints/wiki-cs-training-checkpoint.ipynb
notebooks/media/.ipynb_checkpoints/wiki2-cs-training-checkpoint.ipynb
src/data/__pycache__/DataCreator.cpython-38.pyc
src/data/__pycache__/MPQA.cpython-38.pyc
src/data/__pycache__/SUBJ.cpython-38.pyc
src/data/dataset_classes/__pycache__/DataCreator.cpython-38.pyc
src/data/dataset_classes/__pycache__/SUBJ.cpython-38.pyc
src/data/__pycache__/BASIL.cpython-38.pyc
src/data/__pycache__/WIKI1.cpython-38.pyc
src/data/__pycache__/WIKI2.cpython-38.pyc
data/EN/raw/WNC/biased_neutral_180k.csv
src/data/__pycache__/BABE.cpython-38.pyc
src/data/__pycache__/CWhard.cpython-38.pyc
src/data/__pycache__/UAcrisis.cpython-38.pyc
src/data/__pycache__/WNC.cpython-38.pyc
notebooks/media/.ipynb_checkpoints/babe_EN-checkpoint.ipynb
notebooks/media/.ipynb_checkpoints/wnc-finetuning-checkpoint.ipynb
src/models/wnc.pth
data/EN/raw/WNC/texts/texts5.txt
data/EN/raw/WNC/texts/texts6.txt
data/EN/raw/WNC/texts/texts7.txt
data/EN/raw/WNC/texts/texts8.txt
data/EN/raw/WNC/texts/texts9.txt
data/EN/raw/WNC/texts/texts10.txt
data/EN/raw/WNC/texts/texts11.txt
data/EN/raw/WNC/texts/texts12.txt
data/EN/raw/WNC/texts/texts13.txt
data/EN/raw/WNC/texts/texts14.txt
data/EN/raw/WNC/texts/texts15.txt
data/EN/raw/WNC/texts/texts16.txt
data/EN/raw/WNC/texts/texts17.txt
data/EN/raw/WNC/texts/texts18.txt
data/EN/raw/WNC/texts/texts19.txt
data/EN/raw/WNC/texts/texts20.txt
data/EN/raw/WNC/texts/texts21.txt
data/EN/raw/WNC/texts/texts22.txt
data/EN/raw/WNC/texts/texts23.txt
data/EN/raw/WNC/texts/texts24.txt
data/EN/raw/WNC/texts/texts25.txt
data/EN/raw/WNC/texts/texts26.txt
data/EN/raw/WNC/texts/texts27.txt
data/EN/raw/WNC/texts/texts28.txt
data/EN/raw/WNC/texts/texts29.txt
data/EN/raw/WNC/texts/texts30.txt
data/EN/raw/WNC/texts/texts31.txt
data/EN/raw/WNC/texts/texts32.txt
data/EN/raw/WNC/texts/texts33.txt
data/EN/raw/WNC/texts/texts34.txt
data/EN/raw/WNC/texts/texts35.txt
data/EN/raw/WNC/texts/texts36.txt
data/EN/raw/WNC/texts/done/texts0.txt
data/EN/raw/WNC/texts/done/texts1.txt
data/EN/raw/WNC/texts/done/texts2.txt
data/EN/raw/WNC/texts/done/texts3.txt
data/EN/raw/WNC/texts/done/texts4.txt
data/EN/raw/WNC/.ipynb_checkpoints/texts0-checkpoint.txt
data/EN/raw/WNC/.ipynb_checkpoints/Untitled-checkpoint.ipynb
data/EN/raw/WNC/Untitled.ipynb
src/data/__pycache__/SUBJ.cpython-36.pyc
src/data/__pycache__/WikiBias.cpython-38.pyc
notebooks/media/.ipynb_checkpoints/babe_EN_testsplit-checkpoint.ipynb
notebooks/media/.ipynb_checkpoints/cz_models_cls-checkpoint.ipynb
notebooks/media/baseline/.ipynb_checkpoints/baseline_czech-checkpoint.ipynb
data/EN/raw/WNC/texts/texty.zip
data/EN/raw/WNC/texts/texty2.zip
notebooks/media/.ipynb_checkpoints/babe_orig_experiment-checkpoint.ipynb
notebooks/media/baseline/.ipynb_checkpoints/baseline_czech-w-early-stopping-checkpoint.ipynb
notebooks/media/baseline/checkpoint-320/config.json
notebooks/media/baseline/checkpoint-320/merges.txt
notebooks/media/baseline/checkpoint-320/optimizer.pt
notebooks/media/baseline/checkpoint-320/pytorch_model.bin
notebooks/media/baseline/checkpoint-320/rng_state.pth
notebooks/media/baseline/checkpoint-320/scheduler.pt
notebooks/media/baseline/checkpoint-320/special_tokens_map.json
notebooks/media/baseline/checkpoint-320/tokenizer_config.json
notebooks/media/baseline/checkpoint-320/trainer_state.json
notebooks/media/baseline/checkpoint-320/training_args.bin
notebooks/media/baseline/checkpoint-320/vocab.json
.gitignore
.gitignore
notebooks/media/baseline/checkpoint-340/config.json
notebooks/media/baseline/checkpoint-340/merges.txt
notebooks/media/baseline/checkpoint-340/optimizer.pt
notebooks/media/baseline/checkpoint-340/pytorch_model.bin
notebooks/media/baseline/checkpoint-340/rng_state.pth
notebooks/media/baseline/checkpoint-340/scheduler.pt
notebooks/media/baseline/checkpoint-340/special_tokens_map.json
notebooks/media/baseline/checkpoint-340/tokenizer_config.json
notebooks/media/baseline/checkpoint-340/trainer_state.json
notebooks/media/baseline/checkpoint-340/training_args.bin
notebooks/media/baseline/checkpoint-340/vocab.json
.gitignore
.gitignore
notebooks/media/baseline/checkpoint-380/config.json
notebooks/media/baseline/checkpoint-380/merges.txt
notebooks/media/baseline/checkpoint-380/optimizer.pt
notebooks/media/baseline/checkpoint-380/pytorch_model.bin
notebooks/media/baseline/checkpoint-380/rng_state.pth
notebooks/media/baseline/checkpoint-380/scheduler.pt
notebooks/media/baseline/checkpoint-380/special_tokens_map.json
notebooks/media/baseline/checkpoint-380/tokenizer_config.json
notebooks/media/baseline/checkpoint-380/trainer_state.json
notebooks/media/baseline/checkpoint-380/training_args.bin
notebooks/media/baseline/checkpoint-380/vocab.json
notebooks/media/baseline/checkpoint-400/config.json
notebooks/media/baseline/checkpoint-400/merges.txt
notebooks/media/baseline/checkpoint-400/optimizer.pt
notebooks/media/baseline/checkpoint-400/pytorch_model.bin
notebooks/media/baseline/checkpoint-400/rng_state.pth
notebooks/media/baseline/checkpoint-400/scheduler.pt
notebooks/media/baseline/checkpoint-400/special_tokens_map.json
notebooks/media/baseline/checkpoint-400/tokenizer_config.json
notebooks/media/baseline/checkpoint-400/trainer_state.json
notebooks/media/baseline/checkpoint-400/training_args.bin
notebooks/media/baseline/checkpoint-400/vocab.json
notebooks/media/baseline/checkpoint-360/config.json
notebooks/media/baseline/checkpoint-360/merges.txt
notebooks/media/baseline/checkpoint-360/optimizer.pt
notebooks/media/baseline/checkpoint-360/pytorch_model.bin
notebooks/media/baseline/checkpoint-360/rng_state.pth
notebooks/media/baseline/checkpoint-360/scheduler.pt
notebooks/media/baseline/checkpoint-360/special_tokens_map.json
notebooks/media/baseline/checkpoint-360/tokenizer_config.json
notebooks/media/baseline/checkpoint-360/trainer_state.json
notebooks/media/baseline/checkpoint-360/training_args.bin
notebooks/media/baseline/checkpoint-360/vocab.json
notebooks/media/baseline/.ipynb_checkpoints/baseline_babe-checkpoint.ipynb
notebooks/media/baseline/.ipynb_checkpoints/baseline_cwnc-checkpoint.ipynb
notebooks/media/hyperopt/.ipynb_checkpoints/Untitled-checkpoint.ipynb
data/EN/raw/WNC/texts/texts3.zip
notebooks/media/data_merging/.ipynb_checkpoints/data_combining-checkpoint.ipynb
notebooks/media/hyperopt/.ipynb_checkpoints/hyperopt_search-checkpoint.ipynb
notebooks/media/hyperopt/.ipynb_checkpoints/tuned_robe_eval-checkpoint.ipynb
notebooks/media/.ipynb_checkpoints/babe_orig_experiment_cs-checkpoint.ipynb
notebooks/media/data_merging/.ipynb_checkpoints/subj_train-checkpoint.ipynb
notebooks/media/data_merging/checkpoint-500/config.json
notebooks/media/data_merging/checkpoint-500/merges.txt
notebooks/media/data_merging/checkpoint-500/optimizer.pt
notebooks/media/data_merging/checkpoint-500/pytorch_model.bin
notebooks/media/data_merging/checkpoint-500/rng_state.pth
notebooks/media/data_merging/checkpoint-500/scheduler.pt
notebooks/media/data_merging/checkpoint-500/special_tokens_map.json
notebooks/media/data_merging/checkpoint-500/tokenizer_config.json
notebooks/media/data_merging/checkpoint-500/trainer_state.json
notebooks/media/data_merging/checkpoint-500/training_args.bin
notebooks/media/data_merging/checkpoint-500/vocab.json
notebooks/media/data_merging/checkpoint-5000/config.json
notebooks/media/data_merging/checkpoint-5000/merges.txt
notebooks/media/data_merging/checkpoint-5000/optimizer.pt
notebooks/media/data_merging/checkpoint-5000/pytorch_model.bin
notebooks/media/data_merging/checkpoint-5000/rng_state.pth
notebooks/media/data_merging/checkpoint-5000/scheduler.pt
notebooks/media/data_merging/checkpoint-5000/special_tokens_map.json
notebooks/media/data_merging/checkpoint-5000/tokenizer_config.json
notebooks/media/data_merging/checkpoint-5000/trainer_state.json
notebooks/media/data_merging/checkpoint-5000/training_args.bin
notebooks/media/data_merging/checkpoint-5000/vocab.json
src/models/trained/hq_pretrained.pth
src/models/trained/subj_pretrained.pth
src/models/trained/mb_pretrained.pth
notebooks/media/data_merging/checkpoint-4500/config.json
notebooks/media/data_merging/checkpoint-4500/merges.txt
notebooks/media/data_merging/checkpoint-4500/optimizer.pt
notebooks/media/data_merging/checkpoint-4500/pytorch_model.bin
notebooks/media/data_merging/checkpoint-4500/rng_state.pth
notebooks/media/data_merging/checkpoint-4500/scheduler.pt
notebooks/media/data_merging/checkpoint-4500/special_tokens_map.json
notebooks/media/data_merging/checkpoint-4500/tokenizer_config.json
notebooks/media/data_merging/checkpoint-4500/trainer_state.json
notebooks/media/data_merging/checkpoint-4500/training_args.bin
notebooks/media/data_merging/checkpoint-4500/vocab.json
notebooks/media/data_merging/.ipynb_checkpoints/high_quality-checkpoint.ipynb
notebooks/media/data_merging/.ipynb_checkpoints/media_bias_pretrain-checkpoint.ipynb
notebooks/media/data_merging/.ipynb_checkpoints/subj_pretrain-checkpoint.ipynb
notebooks/media/data_merging/checkpoint-1500/config.json
notebooks/media/data_merging/checkpoint-1500/merges.txt
notebooks/media/data_merging/checkpoint-1500/optimizer.pt
notebooks/media/data_merging/checkpoint-1500/pytorch_model.bin
notebooks/media/data_merging/checkpoint-1500/rng_state.pth
notebooks/media/data_merging/checkpoint-1500/scheduler.pt
notebooks/media/data_merging/checkpoint-1500/special_tokens_map.json
notebooks/media/data_merging/checkpoint-1500/tokenizer_config.json
notebooks/media/data_merging/checkpoint-1500/trainer_state.json
notebooks/media/data_merging/checkpoint-1500/training_args.bin
notebooks/media/data_merging/checkpoint-1500/vocab.json
.gitignore
notebooks/media/data_merging/.ipynb_checkpoints/all_pretrain-checkpoint.ipynb
src/models/trained/cw_hard-pretrain.pth
src/models/trained/cwnc-pretrain.pth
src/models/trained/mpqa-pretrain.pth
src/models/trained/nfnj-pretrain.pth
src/models/trained/basil-pretrain.pth
src/models/trained/babe-pretrain.pth
src/models/trained/subj-pretrain.pth
src/models/trained/ua_crisis-pretrain.pth
src/models/trained/wikibias-pretrain.pth
src/models/trained/wiki-all-pretrain.pth
data/EN/raw/WNC/texts/done/texts26.txt
data/EN/raw/WNC/texts/done/texts27.txt
data/EN/raw/WNC/texts/done/texts28.txt
data/EN/raw/WNC/texts/done/texts29.txt
data/EN/raw/WNC/texts/done/texts30.txt
data/EN/raw/WNC/texts/done/texts31.txt
data/EN/raw/WNC/texts/done/texts32.txt
data/EN/raw/WNC/texts/done/texts33.txt
data/EN/raw/WNC/texts/done/texts34.txt
data/EN/raw/WNC/texts/done/texts35.txt
data/EN/raw/WNC/texts/done/texts36.txt
data/EN/raw/WNC/texts/texts.txt
src/data/__pycache__/CWNC.cpython-38.pyc
src/data/__pycache__/NFNJ.cpython-38.pyc
data/CS/raw/WNC/texts-cs.txt
data/CS/raw/WNC/texts-cs.txt
data/CS/raw/WNC/texts-cs.txt
src/data/__pycache__/NFNJ.cpython-38.pyc
data/CS/raw/WNC/texts-cs.txt
src/data/__pycache__/NFNJ.cpython-38.pyc
notebooks/media/baseline/.ipynb_checkpoints/baseline_babe-seed-checkpoint.ipynb
notebooks/media/baseline/.ipynb_checkpoints/baseline_cwnc-seed-checkpoint.ipynb
src/models/trained/subj2_pretrained.pth
src/models/trained/wnc_cs_pretrained.pth
src/models/trained/wnc_larger_cs_pretrained.pth
src/models/fernet_hyperparam_search.txt
src/models/fernet_hyperparam_search.txt
src/models/fernet_hyperparam_search.txt
notebooks/media/data_merging/.ipynb_checkpoints/experimenty_vsechno-checkpoint.ipynb
notebooks/media/data_merging/.ipynb_checkpoints/jointly_train-checkpoint.ipynb
notebooks/media/data_merging/.ipynb_checkpoints/train_wncs-checkpoint.ipynb
src/data/__pycache__/NFNJ.cpython-38.pyc
src/models/trained/wncen_pretrained.pth
src/models/trained/wncs_pretrained.pth
notebooks/media/baseline/.ipynb_checkpoints/results-checkpoint.txt
src/models/trained/all_balanced.pth
src/models/trained/mb_balanced.pth
src/models/trained/subj_balanced.pth
src/models/trained/wiki_balanced.pth
notebooks/media/whole_process/.ipynb_checkpoints/all_pretrain-checkpoint.ipynb
notebooks/media/whole_process/.ipynb_checkpoints/all-checkpoint.loss
notebooks/media/whole_process/.ipynb_checkpoints/eval_pretrained-checkpoint.ipynb
notebooks/media/whole_process/.ipynb_checkpoints/mb_pretrain-checkpoint.ipynb
notebooks/media/whole_process/.ipynb_checkpoints/subj_pretrain-checkpoint.ipynb
notebooks/media/whole_process/.ipynb_checkpoints/wikinpov_pretrain-checkpoint.ipynb
notebooks/media/whole_process/.ipynb_checkpoints/wnc_pretrain-checkpoint.ipynb
notebooks/media/whole_process/.ipynb_checkpoints/wncs-checkpoint.loss
notebooks/media/whole_process/checkpoint-10000/config.json
notebooks/media/whole_process/checkpoint-10000/optimizer.pt
notebooks/media/whole_process/checkpoint-10000/pytorch_model.bin
notebooks/media/whole_process/checkpoint-10000/rng_state.pth
notebooks/media/whole_process/checkpoint-10000/scheduler.pt
notebooks/media/whole_process/checkpoint-10000/special_tokens_map.json
notebooks/media/whole_process/checkpoint-10000/tokenizer_config.json
notebooks/media/whole_process/checkpoint-10000/trainer_state.json
notebooks/media/whole_process/checkpoint-10000/training_args.bin
notebooks/media/whole_process/checkpoint-10000/vocab.txt
notebooks/media/whole_process/.ipynb_checkpoints/baseline-10fold-checkpoint.ipynb
src/models/trained/wncs_balanced.pth
notebooks/media/whole_process/.ipynb_checkpoints/all_pretrain-wo_mb-checkpoint.ipynb
notebooks/media/whole_process/.ipynb_checkpoints/all_wo_mb-checkpoint.loss
notebooks/media/whole_process/.ipynb_checkpoints/self-training-checkpoint.ipynb
notebooks/media/whole_process/.ipynb_checkpoints/train_jointly-checkpoint.ipynb
notebooks/media/whole_process/checkpoint-1200/config.json
notebooks/media/whole_process/checkpoint-1200/optimizer.pt
notebooks/media/whole_process/checkpoint-1200/pytorch_model.bin
notebooks/media/whole_process/checkpoint-1200/rng_state.pth
notebooks/media/whole_process/checkpoint-1200/scheduler.pt
notebooks/media/whole_process/checkpoint-1200/special_tokens_map.json
notebooks/media/whole_process/checkpoint-1200/tokenizer_config.json
notebooks/media/whole_process/checkpoint-1200/trainer_state.json
notebooks/media/whole_process/checkpoint-1200/training_args.bin
notebooks/media/whole_process/checkpoint-1200/vocab.txt
notebooks/media/whole_process/checkpoint-400/config.json
notebooks/media/whole_process/checkpoint-400/optimizer.pt
notebooks/media/whole_process/checkpoint-400/pytorch_model.bin
notebooks/media/whole_process/checkpoint-400/rng_state.pth
notebooks/media/whole_process/checkpoint-400/scheduler.pt
notebooks/media/whole_process/checkpoint-400/special_tokens_map.json
notebooks/media/whole_process/checkpoint-400/tokenizer_config.json
notebooks/media/whole_process/checkpoint-400/trainer_state.json
notebooks/media/whole_process/checkpoint-400/training_args.bin
notebooks/media/whole_process/checkpoint-400/vocab.txt
notebooks/media/whole_process/.ipynb_checkpoints/eval_pretrained_old-checkpoint.ipynb
notebooks/media/whole_process/.ipynb_checkpoints/eval_pretrained-new-checkpoint.ipynb
notebooks/media/whole_process/Pre-training/.ipynb_checkpoints/all_pretrain-checkpoint.ipynb
notebooks/media/whole_process/Pre-training/.ipynb_checkpoints/mb_pretrain-checkpoint.ipynb
notebooks/media/whole_process/Pre-training/.ipynb_checkpoints/subj_pretrain-checkpoint.ipynb
notebooks/media/whole_process/Pre-training/.ipynb_checkpoints/wikinpov_pretrain-checkpoint.ipynb
notebooks/media/whole_process/Pre-training/.ipynb_checkpoints/wnc_pretrain-checkpoint.ipynb
notebooks/media/whole_process/Pre-training/checkpoint-1600/config.json
notebooks/media/whole_process/Pre-training/checkpoint-1600/optimizer.pt
notebooks/media/whole_process/Pre-training/checkpoint-1600/pytorch_model.bin
notebooks/media/whole_process/Pre-training/checkpoint-1600/rng_state.pth
notebooks/media/whole_process/Pre-training/checkpoint-1600/scheduler.pt
notebooks/media/whole_process/Pre-training/checkpoint-1600/special_tokens_map.json
notebooks/media/whole_process/Pre-training/checkpoint-1600/tokenizer_config.json
notebooks/media/whole_process/Pre-training/checkpoint-1600/trainer_state.json
notebooks/media/whole_process/Pre-training/checkpoint-1600/training_args.bin
notebooks/media/whole_process/Pre-training/checkpoint-1600/vocab.txt
notebooks/media/whole_process/Pre-training/logs/.ipynb_checkpoints/all-checkpoint.loss
notebooks/media/whole_process/Pre-training/logs/.ipynb_checkpoints/All-checkpoint.png
notebooks/media/whole_process/Pre-training/logs/.ipynb_checkpoints/loss-checkpoint.unbalanced
notebooks/media/whole_process/Pre-training/logs/.ipynb_checkpoints/Media Bias-checkpoint.png
notebooks/media/whole_process/Pre-training/logs/.ipynb_checkpoints/neco-checkpoint.txt
notebooks/media/whole_process/Pre-training/logs/.ipynb_checkpoints/subj-checkpoint.loss
notebooks/media/whole_process/Pre-training/logs/.ipynb_checkpoints/subj2-checkpoint.loss
notebooks/media/whole_process/Pre-training/logs/.ipynb_checkpoints/wncs-checkpoint.loss
notebooks/media/.ipynb_checkpoints/self-training-checkpoint.ipynb
notebooks/media/variance/.ipynb_checkpoints/Variance-study-checkpoint.ipynb
notebooks/media/variance/.ipynb_checkpoints/Variance-study-checkpoint.ipynb
src/models/trained/wnc_en.pth
