latex-update.sh
slurm/.wiki-data.batch.swp
.gitignore
slurm/jupyter_gpu.batch
slurm/wiki-data.batch
slurm/self_training.batch
slurm/jupyter_cpu.batch
scripts/end_job.sh
src/utils/__pycache__/myutils.cpython-38.pyc
.vscode/settings.json
notebooks/media/.ipynb_checkpoints/wiki-cs-training-checkpoint.ipynb
notebooks/media/.ipynb_checkpoints/wiki2-cs-training-checkpoint.ipynb
src/data/__pycache__/DataCreator.cpython-38.pyc
src/data/__pycache__/MPQA.cpython-38.pyc
src/data/__pycache__/SUBJ.cpython-38.pyc
src/data/dataset_classes/__pycache__/DataCreator.cpython-38.pyc
src/data/dataset_classes/__pycache__/SUBJ.cpython-38.pyc
src/data/__pycache__/BASIL.cpython-38.pyc
src/data/__pycache__/WIKI1.cpython-38.pyc
src/data/__pycache__/WIKI2.cpython-38.pyc
data/EN/raw/WNC/biased_neutral_180k.csv
src/data/__pycache__/BABE.cpython-38.pyc
src/data/__pycache__/CWhard.cpython-38.pyc
src/data/__pycache__/UAcrisis.cpython-38.pyc
src/data/__pycache__/WNC.cpython-38.pyc
notebooks/media/.ipynb_checkpoints/babe_EN-checkpoint.ipynb
notebooks/media/.ipynb_checkpoints/wnc-finetuning-checkpoint.ipynb
src/models/wnc.pth
data/EN/raw/WNC/texts/texts5.txt
data/EN/raw/WNC/texts/texts6.txt
data/EN/raw/WNC/texts/texts7.txt
data/EN/raw/WNC/texts/texts8.txt
data/EN/raw/WNC/texts/texts9.txt
data/EN/raw/WNC/texts/texts10.txt
data/EN/raw/WNC/texts/texts11.txt
data/EN/raw/WNC/texts/texts12.txt
data/EN/raw/WNC/texts/texts13.txt
data/EN/raw/WNC/texts/texts14.txt
data/EN/raw/WNC/texts/texts15.txt
data/EN/raw/WNC/texts/texts16.txt
data/EN/raw/WNC/texts/texts17.txt
data/EN/raw/WNC/texts/texts18.txt
data/EN/raw/WNC/texts/texts19.txt
data/EN/raw/WNC/texts/texts20.txt
data/EN/raw/WNC/texts/texts21.txt
data/EN/raw/WNC/texts/texts22.txt
data/EN/raw/WNC/texts/texts23.txt
data/EN/raw/WNC/texts/texts24.txt
data/EN/raw/WNC/texts/texts25.txt
data/EN/raw/WNC/texts/texts26.txt
data/EN/raw/WNC/texts/texts27.txt
data/EN/raw/WNC/texts/texts28.txt
data/EN/raw/WNC/texts/texts29.txt
data/EN/raw/WNC/texts/texts30.txt
data/EN/raw/WNC/texts/texts31.txt
data/EN/raw/WNC/texts/texts32.txt
data/EN/raw/WNC/texts/texts33.txt
data/EN/raw/WNC/texts/texts34.txt
data/EN/raw/WNC/texts/texts35.txt
data/EN/raw/WNC/texts/texts36.txt
data/EN/raw/WNC/texts/done/texts0.txt
data/EN/raw/WNC/texts/done/texts1.txt
data/EN/raw/WNC/texts/done/texts2.txt
data/EN/raw/WNC/texts/done/texts3.txt
data/EN/raw/WNC/texts/done/texts4.txt
data/EN/raw/WNC/.ipynb_checkpoints/texts0-checkpoint.txt
data/EN/raw/WNC/.ipynb_checkpoints/Untitled-checkpoint.ipynb
data/EN/raw/WNC/Untitled.ipynb
